.wrapper{
  border: 1px solid grey;
  border-radius: 3px;
  width: fit-content;
  padding: 8px;
  background-color: white;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.inputBox{
  width: 400px;
  padding: 10px;
  border-radius: 4px;
}

.pagination > li{
  float: left;
}
::marker{
  display: none;
}
